<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>PHARMACY SYSTEM</title>
  </head>
  <body>
   
   
   <nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/admin/home">Home</a>
        </li>
      <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/getstockdetails">StockDetails</a>
        </li>
       <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/getsupplierdetails">SupplierDetails</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/getsaledetails">SalesDetails</a>
        </li>
        
      </ul>
      <div>
      		<!--   <a class="nav-link text-white" href="stockregister">Create Stock</a> -->
      		
      		<!--  <img id="admin" src="../adminimage.jpg" alt="adminlogo">-->
      		 </div>
      		 <span>
      <form th:action="@{/logout}" method="post">
          <input type="submit" class="btn btn-info btn-logout" value="Logout" />
           </form>
    <span>
  </div>
</nav>

   <div class="container text-center my-5">
   		<h1>WELCOME TO PHARMACY MANAGEMENT SYSTEM</h1><br><br>
   		
   	   <h4><pre> A pharmacist's work requires a dedication to accuracy, safety, and patient care.
   		Pharmacists are critical thinkers who use their expertise to solve medication-related problems.</pre></h4>
   		
   		
   		
   		<img src="../pharmacyimage.jpg" alt="pharmacy structure "  >
   		
   		
   </div>
   <style>
    body {
  
  background-color:#BDB2FF ;

}

pre{
font-family:Times New Roman;
color :red;
font-style:italic;;


}

#admin{
   width:40px;
   height:40px;
    
}
.btn btn-info btn-logout{
  background-color:#FD8A8A;
}
img{
  width:400px;
  height:400px;
}
</style>
   
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    
  </body>
</html>